html,
body {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 1508px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  max-width: 1508px;
  font-family: "Roboto", sans-serif !important;
  font-size: 15px !important;
  border-top: 24px solid #8a1b1b;
}

#wrapper #banner {
  position: relative;
  margin: 0 11.13%;
  top: 0;
  z-index: 0;
}

#wrapper #banner #banner-left {
  float: left;
  width: 45%;
  margin-top: 20px;
  visibility: hidden;
  display: none;
}

#wrapper #banner #banner-right {
  max-width: 30%;
  float: right;
  margin-top: -200px;
  line-height: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper #banner #banner-right .menuMobile button {
  border: none;
  background: none;
  visibility: hidden;
  display: none;
}

#wrapper #banner #banner-right .line1 {
  margin-top: -3px;
  color: #ecf0f1;
}

#wrapper #banner #banner-right .line2 {
  margin-left: 20px;
}

#wrapper #banner #banner-center {
  float: left;
  width: 75%;
  margin-left: 36%;
}

#wrapper #banner #banner-center img {
  width: 37%;
}

#wrapper #menu {
  height: 45px;
  width: 77.75%;
  background-color: #4e4e4e;
  margin: 0 11.13%;
  z-index: 999;
  display: block;
  position: relative;
  font-family: Arial !important;
  top: 176px;
}

#wrapper #menu #home-button {
  position: relative;
  z-index: 5;
  cursor: pointer;
}

#wrapper #menu #home-button img {
  float: left;
  margin-left: -1px;
  width: 5%;
  margin-top: -176px;
}

#wrapper #menu #navigation {
  width: 100%;
  float: left;
  position: relative;
  top: -176px;
  z-index: 4;
  color: white;
}

#wrapper #menu #navigation ul {
  margin-left: 50px;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
}

#wrapper #menu #navigation ul li {
  text-align: center;
  font-size: 15px;
  list-style: none;
  padding: 11px 1.5%;
  border-top: 0;
  display: block;
  float: left;
  position: relative;
  background: 0;
  border-left: 1px solid #303030;
  margin-left: 8px;
}

#wrapper #menu #navigation ul li a {
  color: white;
  display: inline-block;
}

#wrapper #menu #close-menu {
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: 10px;
  left: 85%;
  z-index: 100;
  width: 20px;
  height: 20px;
  background: url(../images/close-icon.png) no-repeat;
}

#wrapper #main-content .hanu-content1 {
  height: 232px !important;
  background: url(../images/top_bg.png) no-repeat;
  background-size: 100%;
  margin-top: 130px;
}

#wrapper #main-content .hanu-content1 .carousel {
  width: 77.75%;
  margin: auto;
}

#wrapper #main-content .hanu-content2 {
  width: 100%;
  height: 100px;
}

#wrapper #main-content .hanu-content2 #navigation2 {
  width: 80%;
  margin: auto;
  color: black;
}

#wrapper #main-content .hanu-content2 #navigation2 ul {
  margin-left: 50px;
  list-style-type: none;
  padding: 0;
}

#wrapper #main-content .hanu-content2 #navigation2 ul li {
  text-align: center;
  font-size: 15px;
  list-style: none;
  padding: 11px 4.5%;
  border-top: 0;
  display: block;
  float: left;
  position: relative;
  background: 0;
  margin-left: 8px;
}

#wrapper #main-content .hanu-content2 #navigation2 ul li a {
  color: white;
  display: inline-block;
  padding-bottom: 10px;
}

#wrapper #main-content .hanu-content2 #navigation2 ul li:hover div.text-center {
  color: #8a1b1b;
}

#wrapper #main-content .hanu-content {
  margin: 0 11.13%;
}

#wrapper #main-content .hanu-content .hanu-content-title h5 {
  font-family: Arial !important;
  font-size: 24px !important;
  color: #8a1b1b;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img {
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  margin: 20px 0;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img .card {
  width: 30%;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img .card .card-header {
  margin: 0;
  padding: 0;
  max-height: 60%;
  position: relative;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img .card .card-header img {
  width: 100%;
  cursor: pointer;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img .card .card-header .img-hover {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img .card .card-header:hover .img-hover {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img .card h5:hover {
  color: #8a1b1b;
  cursor: pointer;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img .card a {
  color: #576574;
  cursor: pointer;
  position: relative;
  width: 100%;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img .card a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #8a1b1b;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img .card a:hover {
  color: #8a1b1b;
  text-decoration: none;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img .card a:hover::after {
  width: 100%;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img .hanu-content-body-news a {
  display: list-item;
  list-style: disc;
  color: black;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img .hanu-content-body-news a:hover {
  text-decoration: none;
  color: #8a1b1b;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content3-body-more-news .more-news-tilte {
  font-family: Arial !important;
  font-size: 24px !important;
  color: #8a1b1b;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content3-body-more-news a {
  display: list-item;
  list-style: disc;
  color: black;
}

#wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img.hanu-tuyensinh .card, #wrapper #main-content .hanu-content .hanu-content-body .hanu-content-body-card-img.hanu-hoatdong .card {
  opacity: 0;
}

#wrapper #main-content #main-contact-content {
  height: 650px;
  margin-top: 20px;
  padding: 0 11.13%;
}

#wrapper #main-content #main-contact-content .contact-title h5 {
  font-family: Arial !important;
  font-size: 26px !important;
  color: #8a1b1b;
}

#wrapper #main-content #main-contact-content .contact-body {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrapper #main-content #main-contact-content .contact-body .contact-body-mess {
  width: 55%;
}

#wrapper #main-content #main-contact-content .contact-body .contact-body-mess .contact-body-mess-title h5 {
  font-size: 24px;
}

#wrapper #main-content #main-contact-content .contact-body .contact-body-mess .contact-body-mess-title span {
  color: #576574;
}

#wrapper #main-content #main-contact-content .contact-body .contact-body-mess .contact-body-mess-content {
  line-height: 3;
  margin-top: 20px;
}

#wrapper #main-content #main-contact-content .contact-body .contact-body-mess .contact-body-mess-content form .form-group {
  padding: 10px 0;
}

#wrapper #main-content #main-contact-content .contact-body .contact-body-mess .contact-body-mess-content form button {
  border: none;
  background-color: #8a1b1b;
  padding: 0 20px;
  color: #ecf0f1;
}

#wrapper #main-content #main-contact-content .contact-body .contact-body-info {
  width: 30%;
}

#wrapper #main-content #main-contact-content .contact-body .contact-body-info .contact-body-info-title h5 {
  font-size: 24px;
}

#wrapper #main-content #main-contact-content .contact-body .contact-body-info .contact-body-info-title span {
  color: #576574;
}

#wrapper #main-content #main-contact-content .contact-body .contact-body-info .contact-body-info-content {
  margin-top: 50px;
}

#wrapper #main-content #main-contact-content .contact-body .contact-body-info .contact-body-info-content .contact-body-info-content-text {
  margin-top: 30px;
}

#wrapper #main-content #main-contact-content .contact-body .contact-body-info .contact-body-info-content .contact-body-info-content-text span {
  font-size: 16px;
  color: #576574;
}

#wrapper #main-content #main-introduce-content {
  margin-top: 20px;
  padding: 0 11.13%;
}

#wrapper #main-content #main-introduce-content .introduce-title h5 {
  font-family: Arial !important;
  font-size: 26px !important;
  color: #8a1b1b;
  margin-bottom: 30px;
}

#wrapper #main-content #main-introduce-content .introduce-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-list {
  width: 20%;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-list ul {
  margin: 0;
  padding: 0;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-list ul li {
  list-style: none;
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid #4e4e4e;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-list ul li a {
  color: black;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-list ul li a:hover {
  color: #8a1b1b;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-list ul .introduce-title-active {
  border-top: 1px solid #4e4e4e;
  background: #f1f2f6;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-list ul .introduce-title-active a {
  color: #8a1b1b;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content {
  width: 75%;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text {
  margin-top: 20px;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text .introduce-body-content-text-title h5 {
  text-transform: uppercase;
  font-size: 24px;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text .introduce-body-content-text-body {
  margin-top: 20px;
  padding-bottom: 50px;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text .introduce-body-content-text-body .introduce-body-content-text-body-list1 {
  padding-bottom: 30px;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text .introduce-body-content-text-body .introduce-body-content-text-body-list1 .introduce-body-content-text-body-list1-top {
  margin-top: 30px;
  display: block;
  position: relative;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text .introduce-body-content-text-body .introduce-body-content-text-body-list1 .introduce-body-content-text-body-list1-top h5 {
  position: absolute;
  top: 0;
  left: 30px;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text .introduce-body-content-text-body .introduce-body-content-text-body-list1 .introduce-body-content-text-body-list1-top i {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: #4e4e4e;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text .introduce-body-content-text-body .introduce-body-content-text-body-list1 .introduce-body-content-text-body-list1-top i::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 15px;
  height: 2px;
  background: #ecf0f1;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text .introduce-body-content-text-body .introduce-body-content-text-body-list1 .introduce-body-content-text-body-list1-top i::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 2px;
  height: 15px;
  background: #ecf0f1;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text .introduce-body-content-text-body .introduce-body-content-text-body-list1 .introduce-body-content-text-body-list1-top .toggle-icon-hidden::before {
  width: 0;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text .introduce-body-content-text-body .introduce-body-content-text-body-list1 .introduce-body-content-text-body-list1-bottom {
  padding-top: 40px;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text .introduce-body-content-text-body .introduce-body-content-text-body-list1 .introduce-body-content-text-body-list1-bottom h6 {
  color: #8a1b1b;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text .introduce-body-content-text-body .introduce-body-content-text-body-item {
  margin-bottom: 30px;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text .introduce-body-content-text-body .introduce-body-content-text-body-item .introduce-body-content-text-body-item-title {
  margin-bottom: 10px;
}

#wrapper #main-content #main-introduce-content .introduce-body .introduce-body-content .introduce-body-content-text .introduce-body-content-text-body .introduce-body-content-text-body-item .introduce-body-content-text-body-item-body {
  margin-left: 10px;
}

#wrapper #main-content #main-educate-content {
  margin-top: 20px;
  padding: 0 11.13%;
  margin-bottom: 30px;
}

#wrapper #main-content #main-educate-content .educate-title h5 {
  font-family: Arial !important;
  font-size: 26px !important;
  color: #8a1b1b;
}

#wrapper #main-content #main-educate-content .educate-body {
  opacity: 0;
  position: relative;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrapper #main-content #main-educate-content .educate-body .card {
  border: none;
}

#wrapper #main-content #main-educate-content .educate-body .card .card-img {
  position: relative;
  cursor: pointer;
}

#wrapper #main-content #main-educate-content .educate-body .card .card-img .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#wrapper #main-content #main-educate-content .educate-body .card .card-img:hover .img-hover {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#wrapper #main-content #main-educate-content .educate-body .card a {
  color: black;
  cursor: pointer;
}

#wrapper #main-content #main-educate-content .educate-body .card a:hover {
  color: #8a1b1b;
  text-decoration: none;
}

#wrapper #main-content #main-educate-content .educate-body .educate-body-left {
  width: 48%;
}

#wrapper #main-content #main-educate-content .educate-body .educate-body-right {
  width: 48%;
}

#wrapper #footer {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../images/bottom_bg.png) no-repeat;
  background-size: cover;
  position: relative;
}

#wrapper #footer #footer-left {
  width: 40%;
  position: relative;
  color: #ecf0f1;
}

#wrapper #footer #footer-left .footer-left-title {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#wrapper #footer #footer-left .footer-left-link {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  line-height: 2;
}

#wrapper #footer #footer-left .footer-left-link i {
  font-size: 24px;
  color: #ecf0f1;
  padding: 10px 10px;
  cursor: pointer;
}

#wrapper #footer #footer-center {
  width: 30%;
  position: relative;
}

#wrapper #footer #footer-center img {
  max-width: 20%;
  margin-bottom: 10px;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#wrapper #footer #footer-center .text-title-logo {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  letter-spacing: 2px;
  text-align: center;
  color: #ecf0f1;
}

#wrapper #footer #footer-center .text-title-logo span:last-child {
  color: #bdc3c7;
  position: relative;
}

#wrapper #footer #footer-center .text-title-logo span:last-child:after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #bdc3c7;
}

#wrapper #footer #footer-center .text-address {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #bdc3c7;
}

#wrapper #footer #footer-right {
  width: 40%;
  position: relative;
}

#wrapper #footer #footer-right a {
  color: #8a1b1b;
}

#wrapper #footer #footer-right a h5 {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 10px 10px;
  background: #ecf0f1;
  border-radius: 10px;
  cursor: pointer;
}

#wrapper #footer .footer-copyright {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #bdc3c7;
}

@media (max-width: 1024px) {
  #wrapper {
    max-width: 100%;
    border-top: 10px solid #8a1b1b;
  }
  #wrapper header#banner {
    height: 120px;
    line-height: 98px;
  }
  #wrapper header#banner #banner-left {
    display: block;
    visibility: visible;
    margin-top: 10px;
  }
  #wrapper header#banner #banner-right {
    width: 40%;
    margin-top: 40px;
    line-height: 1;
  }
  #wrapper header#banner #banner-right .line1 {
    width: 40%;
    float: right;
    margin-top: -5px;
  }
  #wrapper header#banner #banner-right .line1 .textRight {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  #wrapper header#banner #banner-right .line1 .changeLang a {
    display: block !important;
  }
  #wrapper header#banner #banner-right .line2 {
    display: none;
  }
  #wrapper header#banner #banner-right .menuMobile {
    width: 60% !important;
    margin-top: 10px;
  }
  #wrapper header#banner #banner-right .menuMobile button {
    display: block;
    visibility: visible;
    margin-top: 0px !important;
  }
  #wrapper header#banner #banner-center {
    display: none;
  }
  #wrapper div#menu {
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 0;
    width: 230px;
    height: 100%;
    margin-right: -230px;
    overflow-y: auto;
    background: #4e4e4e;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    float: left;
  }
  #wrapper div#menu #navigation {
    top: 0;
    margin-left: -40px;
  }
  #wrapper div#menu #navigation li {
    float: left;
    display: block !important;
    float: none !important;
    background-color: #4e4e4e !important;
    margin: 0;
    border-left: none !important;
    text-align: left;
    padding-left: 5%;
    text-transform: none;
    font-family: Arial;
    font-weight: bold;
    border-bottom: 1px solid #303030;
  }
  #wrapper div#menu #close-menu {
    opacity: 1;
    visibility: visible;
  }
  #wrapper div#menu #close-menu:hover {
    background: url(../images/close-icon2.png) no-repeat;
  }
  #wrapper .menuActive {
    right: 230px !important;
  }
  #wrapper #main-content .hanu-content1 {
    height: 130px !important;
    margin-top: 0px !important;
  }
  #wrapper #main-content .hanu-content1 img {
    margin-top: 10px;
  }
  #wrapper #main-content .hanu-content2 {
    height: 150px !important;
  }
  #wrapper #main-content .hanu-content2 #navigation2 {
    padding-top: 70px;
  }
  #wrapper #main-content .hanu-content2 #navigation2 ul li {
    font-size: 10px !important;
    padding: 11px 3% !important;
    float: left;
    margin-left: 0px !important;
  }
  #wrapper #main-content .hanu-content2 #navigation2 ul li img {
    width: 70%;
  }
  #wrapper #main-content .hanu-content .hanu-content-body-card-img {
    display: block !important;
  }
  #wrapper #main-content .hanu-content .hanu-content-body-card-img .card {
    width: 100% !important;
    display: block;
  }
  #wrapper #main-content .hanu-content .hanu-content-body-card-img .hanu-content-body-news {
    width: 100% !important;
    float: left;
  }
  #wrapper #footer {
    height: 700px;
    display: block !important;
  }
  #wrapper #footer #footer-left {
    width: 100% !important;
    top: 7%;
  }
  #wrapper #footer #footer-left .footer-left-link {
    margin-top: 5%;
    width: 100%;
    text-align: center;
  }
  #wrapper #footer #footer-center {
    width: 100% !important;
    top: 22%;
  }
  #wrapper #footer #footer-center .text-title-logo {
    margin-top: 22%;
  }
  #wrapper #footer #footer-center .text-address {
    margin-top: 30%;
    width: 100%;
  }
  #wrapper #footer #footer-right {
    width: 100% !important;
    top: 85%;
  }
  #wrapper #footer .footer-copyright {
    width: 100% !important;
    top: 90%;
    text-align: center;
  }
  #wrapper .footer {
    margin-top: 400px;
  }
  #wrapper .img-hover {
    display: none;
    visibility: hidden;
  }
  #wrapper #main-contact-content .contact-body {
    display: block !important;
    margin-top: 30px !important;
  }
  #wrapper #main-contact-content .contact-body .contact-body-mess,
  #wrapper #main-contact-content .contact-body .contact-body-info {
    width: 100% !important;
    margin-bottom: 50px;
  }
  #wrapper #main-contact-content .contact-body .contact-body-info-content {
    margin-top: 20px !important;
  }
  #wrapper #main-introduce-content {
    margin-top: 80px !important;
  }
  #wrapper #main-introduce-content .introduce-body {
    display: block !important;
  }
  #wrapper #main-introduce-content .introduce-body .introduce-body-list {
    width: 100% !important;
    margin-bottom: 20px;
  }
  #wrapper #main-introduce-content .introduce-body .introduce-body-content {
    width: 100% !important;
  }
  #wrapper #main-introduce-content .introduce-body .introduce-body-content p {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  #wrapper header#banner {
    height: 90px !important;
    line-height: 0px;
  }
  #wrapper header#banner #banner-right {
    margin-top: 25px;
  }
  #wrapper header#banner #banner-right .line1 {
    margin-top: 1px;
  }
  #wrapper #main-content .hanu-content1 {
    height: 80px !important;
  }
  #wrapper #main-content .hanu-content2 #navigation2 {
    padding-top: 60px;
  }
  #wrapper #main-content #main-introduce-content {
    margin-top: 40px !important;
  }
  #wrapper #main-content #main-educate-content {
    margin-top: 30px !important;
  }
  #wrapper #main-content #main-educate-content .educate-body {
    display: block !important;
  }
  #wrapper #main-content #main-educate-content .educate-body .educate-body-left,
  #wrapper #main-content #main-educate-content .educate-body .educate-body-right {
    width: 100% !important;
  }
  #wrapper #footer #footer-center .text-address {
    margin-top: 35%;
  }
}

@media (max-width: 700px) {
  #wrapper #main-content .hanu-content2 #navigation2 {
    padding-top: 20px;
  }
}

@media (max-width: 639px) {
  #wrapper {
    max-width: 100%;
  }
  #wrapper header#banner {
    height: 80px;
  }
  #wrapper header#banner #banner-left {
    margin-top: 20px;
  }
  #wrapper header#banner .menuMobile {
    width: 70% !important;
    margin-top: 0px !important;
  }
  #wrapper header#banner .menuMobile button {
    margin-top: 6px !important;
  }
  #wrapper #main-content .hanu-content2 #navigation2 {
    padding-top: 0px;
  }
  #wrapper #main-content #main-educate-content {
    margin-top: 20px !important;
  }
  #wrapper #footer #footer-center .text-address {
    margin-top: 40%;
  }
  #wrapper #footer #footer-right {
    top: 75%;
  }
  #wrapper #footer .footer-copyright {
    top: 80%;
  }
}

@media (max-width: 380px) {
  #wrapper {
    max-width: 100%;
  }
  #wrapper #main-content .hanu-content2 #navigation2 {
    width: 93% !important;
    margin: 0;
  }
  #wrapper #main-content #main-educate-content {
    margin-top: 0px !important;
  }
  #wrapper #footer {
    height: 600px !important;
    display: block !important;
  }
  #wrapper #footer #footer-left {
    width: 100% !important;
    top: 7%;
  }
  #wrapper #footer #footer-left .footer-left-link {
    margin-top: 10%;
  }
  #wrapper #footer #footer-center {
    top: 25%;
  }
  #wrapper #footer #footer-center .text-address {
    margin-top: 45%;
  }
  #wrapper #footer #footer-right {
    top: 80%;
  }
  #wrapper #footer .footer-copyright {
    top: 85%;
  }
}

@media (max-width: 320px) {
  #wrapper {
    max-width: 100%;
  }
  #wrapper header#banner .menuMobile {
    width: 80% !important;
  }
  #wrapper #main-content .hanu-content2 #navigation2 {
    width: 100% !important;
    margin-left: -12px;
  }
}
/*# sourceMappingURL=main.css.map */